@use "./variables.scss" as *;

.header{
  display: flex;
  width:100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #293435;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  align-items: center;
  padding:16px;
}

.title-wrapper{
  display: flex;
  cursor: pointer;
}

.title{
  margin-right: 32px;
  color:#F9E5BF;

  @include s28-w700;
}

.nav-wrapper{
  display: flex;
  gap:16px;

  @include s18-w400;
}

.nav-item{
  cursor: pointer;
}